/* You can add global styles to this file, and also import other style files */

body {
    margin: 0px 200px 0px 200px;
}
.btns-2 {
    line-height: 40px;
    margin-bottom: 3px;
}



.login {
    float: left;
}

.register{
    float: left;
    margin-left: 120px;
}

.form-control {
    margin-right: 150px;
}